/* normalization & global */

html {
    color-scheme: light dark;
    scroll-behavior: smooth;
}

body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

    margin: 0;

    display: flex;
    flex-direction: column;
    align-items: center;
}

a {
    color: #232323;
}

ul {
    margin: 0.5rem;
}

/* main styles */

header, footer {
    min-width: 100%;
    min-height: 4rem;

    background-color: #BADA55;

    display: flex;
    justify-content: space-around;
    align-items: center;
}

header {
    position: fixed;
}

#logo-wrapper {
    display: flex;
    align-items: center;
}

#pfp {
    width: 3rem;
    height: auto;
    border-radius: 100%;

    margin-right: 1rem;
}

.links--link {
    margin-right: 2rem;
    text-decoration: none;
    text-transform: capitalize;
}

section {
    max-width: 50rem;
}

h2 {
    font-size: 4rem;
    margin: 5rem 0 1rem 0;
}

hr {
    margin: 5rem 0;
}

ul{
    font-size: 2rem;
}

li > ul > li {
    font-size: 1.5rem;
}

p, code {
    font-size: 1.5rem;
}

footer {
    margin-top: 5rem;
}

aside {
    display: flex;
}

aside > p {
    margin-right: 2rem;
}

#rs-logo {
    width: 30%;
    height: auto;
}